#ChangeMe {
    width: 40px;
    height: 40px;
    margin: 20px;
    background: red;
    margin: 20px auto;
}

#Box2 {
    width: 40px;
    height: 40px;
    margin: 20px;
    background: green;
    margin: 20px auto;
}

body {
    text-align: center;
    margin: 25%;
}

  
.wrapper {
    justify-content: center;
    margin: 0%;
    display: grid;
    grid-template-columns: 57.6% 32.4%;
    grid-gap: 1%;
    background-color: #fff;
    color: #444;
  }
  
